.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container {
    padding: 0;
    /* margin: 0; */
}

.logo {
    width: 110px;
    height: 110px;
}

.nav-items>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.filter {
    padding: 10px;
}

.filter-btn {
    margin-left: 8px;
    cursor: pointer;
}

.res-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.res-card {
    background-color: lightgray;
    width: 229px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    word-wrap: break-word;
}

.res-card:hover {
    border: 1px solid black;
}

.res-logo {
    width: 100%;
    height: 50%;
    margin-bottom: -10px;
}

.shimmer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 229px;
    height: 500px;
    background-color: #f0f0f0;
    margin: 20px;
}

.login {
    width: 83px;
    margin-right: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}

.search-btn {
    cursor: pointer;
}